<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-icon src="assets/icons/arrow-back-outline.svg" class="arrow-icon" [routerLink]="['/groups']"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon src="assets/icons/alert-circle-outline.svg" class="settings-icon"></ion-icon>
    </ion-buttons>
    <ion-title>Amigos uni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="ion-padding">
  


  <!-- Contenedor de la onda de sonido -->
<div class="sound-wave-container">
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave top"> </ion-icon>
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave mid"> </ion-icon>
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave mid" > </ion-icon>
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave mid" style="color:#E33941"> </ion-icon>
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave mid" style="color:#E33941"> </ion-icon>
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave mid" style="color:#E33941"> </ion-icon>
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave top" style="color:#E33941"> </ion-icon>
</div>



<div class="sound-wave-container-right">
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave top" style="color:#E33941"> </ion-icon>
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave mid" style="color:#E33941"> </ion-icon>
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave mid" style="color:#E33941"> </ion-icon>
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave mid" style="color:#E33941"> </ion-icon>
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave mid" > </ion-icon>
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave mid" > </ion-icon>  
  <ion-icon name="sound-wave" src="assets/icons/sound-wave.svg" class="sound-wave top" > </ion-icon>
</div>



<div class="chat-container">
  <!-- Mensaje 1 -->
  <div class="chat-message">
    <div class="avatars-container">
      <!-- Avatar 1 -->
      <span class="name">A_Ramón</span>
      <div class="avatar-wrapper">
        <ion-icon src="assets/icons/play--filled--alt.svg" class="play-icon"></ion-icon>
        <ion-avatar class="user-avatar-audio">
          <img alt="user avatar 1" src="assets/imgs/Elipse 47@3x.png" />
        </ion-avatar>
        <div class="message-info">
          <span class="duration">0:48</span>
          <span class="time">4:06 p.m.</span>
        </div>
        <ion-icon name="heart" class="icon-heart" style="color:#E33941"></ion-icon>
      </div>
      <!-- Avatar 2 -->
      <span class="name-me">Tú</span>
      <div class="avatar-wrapper">
        <a id="open-modal" (click)="setOpen(true)"><ion-icon src="assets/icons/arrow-undo-circle-outline.svg" class="arrow-redo-icon"></ion-icon></a>
        <ion-avatar class="user-avatar-audio">
          <img alt="user avatar 2" src="assets/imgs/Elipse 47-2@3x.png" />
        </ion-avatar>
        <div class="message-info">
          <span class="duration">0:13</span>
          <span class="time">4:25 p.m.</span>
        </div>
        <ion-icon src="assets/icons/play--filled--alt.svg" class="play-icon2"></ion-icon>
      </div>
      <!-- Avatar 3 -->
      <span class="name">Ppedr_ff</span>
      <div class="avatar-wrapper">
        <ion-icon src="assets/icons/arrow-undo-circle-outline.svg" class="arrow-redo-icon"></ion-icon>
        <ion-avatar class="user-avatar-audio">
          <img alt="user avatar 3" src="assets/imgs/Elipse 47-12@3x.png" />
        </ion-avatar>
        <div class="message-info">
          <span class="duration">0:13</span>
          <span class="time">4:31 p.m.</span>
        </div>
        <ion-icon src="assets/icons/play--filled--alt.svg" class="play-icon2"></ion-icon>
      </div>
      <!-- Avatar 4 -->
     
      <!-- Avatar 5 -->
      <span class="name-me">Tú</span>
      <div class="avatar-wrapper">
        <ion-icon src="assets/icons/arrow-undo-circle-outline.svg" class="arrow-redo-icon"></ion-icon>
        <ion-avatar class="user-avatar-audio">
          <img alt="user avatar 5" src="assets/imgs/Elipse 47-2@3x.png" />
        </ion-avatar>
        <div class="message-info">
          <span class="duration">0:13</span>
          <span class="time">5:31 p.m.</span>
        </div>
        <ion-icon src="assets/icons/play--filled--alt.svg" class="play-icon2"></ion-icon>
      </div>
     
    </div>
  </div>
</div>

<ion-item class="comment-item">
  <ion-avatar slot="start" class="avatar-comment">
    <img alt="user avatar 2" src="assets/imgs/Elipse 47-2@3x.png" />
  </ion-avatar>
  <ion-input placeholder="Comenta lo que quieras" clear-input="true" class="comment-label" [placeholder]="isMicActive ? '' : 'Comenta lo que quieras'"></ion-input>
  <ion-button class="mic-button" id="micButton" 
    (click)="toggleMic()"
    [ngClass]="{'active': isMicActive}">
    <div class="mic-content">
      <ion-icon src="assets/icons/microphone.svg" class="mic-icon2"></ion-icon>
    </div>
  </ion-button>
  
  <div class="mic-button-container" [class.open-mic]="isMenuOpen">
    <div class="button-menu" id="buttonMenu">
      <ion-button class="menu-btn">
        <ion-icon src="assets/icons/trash-can.svg" class="menu-icon"></ion-icon> 
      </ion-button>
      <ion-button class="menu-btn">
        <ion-icon src="assets/icons/edit.svg" class="menu-icon"></ion-icon> 
      </ion-button>
      <ion-button class="menu-btn">
        <ion-icon src="assets/icons/play--filled--alt.svg" class="menu-icon"></ion-icon> 
      </ion-button>
      <ion-button class="menu-btn">
        <ion-icon src="assets/icons/cloud--upload.svg" class="menu-icon"></ion-icon> 
      </ion-button>
    </div>
  </div>
</ion-item>



      

  <ion-button expand="block" (click)="setOpen(true)"></ion-button>
  
  <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="setOpen(false)"  [initialBreakpoint]="1" [breakpoints]="[0,  1]">
    <ng-template>
      <div class="modal-content">
        <form>
          <div class="form-header">
            <ion-icon src="assets/icons/close-outline.svg" class="close-icon" (click)="setOpen(false)"></ion-icon>
          </div>

          <div class="upload-image">
            <label for="uploadImage">
              <div class="icon-container">
                <ion-icon src="assets/icons/add-image.svg"></ion-icon>
              </div>
              <span>Subir<br>imagen</span> 
            </label>
          </div>

          <img alt="ondas" src="assets/imgs/Onda.png" class="wave-img" />

          <ion-list lines="none">
            <ion-item>
              <div class="item-content">
                <ion-icon src="/assets/icons/microphone.svg"></ion-icon>
                <ion-label>Nombre del audio</ion-label>
                <ion-text>62389468932_000</ion-text>
              </div>
              <ion-icon name="checkmark-circle" class="checkmark-icon" style="color: #E62F2C;" slot="end"></ion-icon>
            </ion-item>

            <ion-item>
              <div class="item-content">
                <ion-icon src="assets/icons/edit00.svg"></ion-icon>
                <ion-label>Descripción</ion-label>
                <ion-text>Audio sobre las últimas noticias de la semana en la isla de Tenerife</ion-text>
                <ion-text class="char-count">37/144</ion-text>
              </div>
              <ion-icon name="checkmark-circle" class="checkmark-icon" style="color: #E62F2C;" slot="end"></ion-icon>
            </ion-item>

            <ion-item>
              <div class="item-content">
                <ion-icon src="assets/icons/collapse-all.svg"></ion-icon>
                <ion-label>Categoría</ion-label>
                <ion-text>Noticias</ion-text>
              </div>
              <ion-icon name="checkmark-circle" class="checkmark-icon" style="color: #E62F2C;" slot="end"></ion-icon>
            </ion-item>

            <ion-item>
              <div class="item-content">
                <ion-icon src="assets/icons/location.svg"></ion-icon>
                <ion-label>Georeferencia</ion-label>
                <ion-text>España, Canarias, Tenerife</ion-text>
              </div>
              <ion-icon name="checkmark-circle" class="checkmark-icon" style="color: #E62F2C;" slot="end"></ion-icon>
            </ion-item>

            <ion-item class="estado">
              <ion-label class="estado">Marcar como estado</ion-label>
              <div class="action-icons" slot="end" style="margin-top: 30px;">
                <ion-icon name="checkmark-circle" class="action-icon" style="color: #E62F2C;"></ion-icon>
                <ion-icon src="assets/icons/retry-failed.svg" class="action-icon2"></ion-icon>
                <ion-icon name="play-outline" class="action-icon2"></ion-icon>
              </div>
            </ion-item>
          </ion-list>

          <div class="button-container">
            <ion-button class="share-button" (click)="openShareModal()">
              Compartir
            </ion-button>
            <ion-button class="save-button" (click)="setOpen(false)">
              Guardar 
            </ion-button>
          </div>
        </form>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isShareModalOpen" (ionModalDidDismiss)="isShareModalOpen = false">
    <ng-template>
      <div class="modal-content">
        <form>
        
          <div class="header-container">
            <ion-icon src="assets/icons/microphone.svg" class="mic-icon" ></ion-icon>
            <h2>Compartir con contactos</h2>
            <!-- Aquí agrega el contenido que quieras para compartir -->
          </div>

          <div class="share-container">
            <div class="search-bar" class="search-bar">
              <ion-item class="search-bar">
                <ion-input  placeholder="Buscar" class="search-text">
                  <ion-icon slot="start" src="assets/icons/search-outline.svg" class="search-icon"></ion-icon>
                </ion-input>
              </ion-item>
            </div>
            <div class="share-options" class="share-options">
              <div class="option" class="option">
                <ion-icon src="assets/icons/edit00.svg"></ion-icon>
                <span>Whatsapp</span>
              </div>
              <div class="option" class="option">
                <ion-icon src="assets/icons/edit00.svg"></ion-icon>
                <span>Facebook</span>
              </div>
              <div class="option" class="option">
                <ion-icon src="assets/icons/edit00.svg"></ion-icon>
                <span>Email</span>
              </div>
            </div>
            <button class="share-button2"  >Compartir</button >
          </div>
          

        
        </form>
      </div>
    </ng-template>
  </ion-modal>









</ion-content>

