<ion-header class="ion-no-border">
   <ion-toolbar mode="md">
     <ion-buttons slot="start">
       <ion-icon src="assets/icons/arrow-back-outline.svg" class="arrow-icon" [routerLink]="['/login']"></ion-icon>
     </ion-buttons>
     <ion-title>Términos de uso</ion-title>
   </ion-toolbar>
 </ion-header>

<ion-content class="ion-padding">

  <p class="introduction">
    Lea atentamente los siguientes términos de uso ("Términos") antes de utilizar nuestra aplicación de subida de audios ("la Aplicación"). Estos Términos establecen los derechos y obligaciones legales entre usted ("el Usuario" o "usted") y la entidad propietaria y operadora de la Aplicación ("nosotros" o "nuestro"). Al utilizar la Aplicación, usted acepta cumplir con estos Términos en su totalidad. Si no está de acuerdo con alguno de los términos, le recomendamos que no utilice la Aplicación. 
 </p>
 
 <p class="section-title">Uso de la Aplicación</p>
 <p class="section-content">
    1.1. La Aplicación permite a los Usuarios subir y compartir audios grabados por ellos mismos. Al utilizar la Aplicación, usted declara que los audios que suba son de su propiedad y que tiene todos los derechos necesarios para compartirlos.
 </p>
 <p class="section-content">
    1.2. Usted acepta que no subirá ningún audio que sea ilegal, difamatorio, obsceno, ofensivo, pornográfico, violento o que viole los derechos de terceros, incluyendo derechos de autor, derechos de privacidad o cualquier otro derecho de propiedad intelectual.
 </p>
 <p class="section-content">
    1.3. Usted acepta utilizar la Aplicación de acuerdo con todas las leyes, reglamentos y normas aplicables.
 </p>
 <p class="section-content">
    1.4. Nos reservamos el derecho de eliminar cualquier audio que consideremos inapropiado o que viole estos Términos.
 </p>
 
 <p class="section-title">Propiedad Intelectual</p>
 <p class="section-content">
    2.1. Usted retiene la propiedad de los audios que suba a la Aplicación. Sin embargo, al subir un audio, nos otorga una licencia mundial, no exclusiva, libre de regalías y sublicenciable para usar, reproducir, modificar, adaptar, publicar, traducir, distribuir y mostrar dicho audio en relación con la operación y promoción de la Aplicación.
 </p>
 <p class="section-content">
    2.2. Usted acepta que no utilizará ninguna información, contenido o propiedad intelectual de la Aplicación con fines comerciales sin nuestro consentimiento previo por escrito.
 </p>
 
 <p class="section-title">Privacidad</p>
 <p class="section-content">
    3.1. Respetamos su privacidad y procesamos sus datos personales de acuerdo con nuestra Política de Privacidad. Al utilizar la Aplicación, usted acepta el uso de sus datos personales de acuerdo con nuestra Política de Privacidad.
 </p>
 
 <p class="section-title">Limitación de Responsabilidad</p>
 <p class="section-content">
    4.1. La Aplicación se proporciona "tal cual" y no ofrecemos ninguna garantía o representación con respecto a su disponibilidad, funcionalidad, exactitud, confiabilidad o seguridad. Usted utiliza la Aplicación bajo su propio riesgo.
 </p>
 <p class="section-content">
    4.2. En la máxima medida permitida por la ley, no seremos responsables por ningún daño directo, indirecto, incidental, especial, consecuencial o punitivo derivado del uso o la imposibilidad de uso de la Aplicación.
 </p>
 
 <p class="section-title">Modificaciones de los Términos</p>
 <p class="section-content">
    5.1. Nos reservamos el derecho de modificar estos Términos en cualquier momento. Cualquier modificación entrará en vigencia al ser publicada en la Aplicación. Es su responsabilidad revisar periódicamente los Términos para estar al tanto de cualquier cambio.
 </p>
 
 <p class="section-title">Ley Aplicable y Jurisdicción</p>
 <p class="section-content">
    6.1. Estos Términos se regirán e interpretarán de acuerdo con las leyes del [país] sin tener en cuenta sus disposiciones de conflicto de leyes.
 </p>
 <p class="section-content">
    6.2. Cualquier disputa que surja en relación con estos Términos estará sujeta a la jurisdicción exclusiva de los tribunales de [ciudad, país].
 </p>
 
 <p class="section-content">
    Si tiene alguna pregunta o inquietud sobre estos Términos, por favor contáctenos a través del correo de contacto siguiente.
 </p>
 <p class="section-content">
    Asimismo podremos bloquear o eliminar la cuenta de la aplicación si determinamos que no se cumplen alguno de los puntos mencionados anteriormente.
 </p>
</ion-content>