.help-list {
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    
}

.help-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border: transparent;
}

.help-item span {
    flex-grow: 1;
    margin-left: 15px;
    color: white;
    font-size: 18px;
    font-weight: lighter;
}