<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-icon src="assets/icons/arrow-back-outline.svg" class="arrow-icon" [routerLink]="['/settings']"></ion-icon>
    </ion-buttons>
    <ion-title>Audios favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="time-list-page">
    <div class="image-container">

      <img src="assets/imgs/imagen-taza@3x.png" alt="Imagen de taza" class="center-image" />
    </div>
  </div>
 
  <div class="overlay-icons">
    <ion-avatar class="profile-photo" [routerLink]="['/my-timelists']">
      <img alt="user avatar" src="assets/imgs/Elipse 47-10@3x.png" class="avatar" />
    </ion-avatar>
    <ion-icon src="assets/icons/shuffle.svg" class="shuffle-icon"></ion-icon>
    <span class="shuffle-text">El arte de la resolución …</span>
  </div>

  <ion-list lines="none">
    <ion-item lines="none">
      <ion-avatar slot="start" class="avatar-list">
        <img alt="user avatar" src="assets/imgs/Elipse 47-10@3x.png" />
      </ion-avatar>
      <ion-label>
        <h2>El arte de la res...</h2>
        <p>User_932849 | 1520 Escuchas | 2:05</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button >
          <ion-icon src="assets/icons/pause-outline.svg" class="list-icon"></ion-icon>
        </ion-button>
        <ion-button >
          <ion-icon src="assets/icons/ellipsis-vertical.svg" class="list-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start" class="avatar-list">
        <img alt="user avatar" src="assets/imgs/Elipse 47-1@3x.png" />
      </ion-avatar>
      <ion-label>
        <h2>Indignado con…</h2>
        <p>Mark3497 | 521 Escuchas | 3:00</p>
      </ion-label>
     <ion-buttons slot="end">
        <ion-button >
          <ion-icon src="assets/icons/play--filled--alt.svg" class="list-icon"></ion-icon>
        </ion-button>
        <ion-button >
          <ion-icon src="assets/icons/ellipsis-vertical.svg" class="list-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start" class="avatar-list">
        <img alt="user avatar" src="assets/imgs/Elipse 47-12@3x.png" />
      </ion-avatar>
      <ion-label>
        <h2>Resolviendo conflictos</h2>
        <p>M4ría90 | 30 Escuchas | 1:40</p>
      </ion-label>
     <ion-buttons slot="end">
        <ion-button >
          <ion-icon src="assets/icons/play--filled--alt.svg" class="list-icon"></ion-icon>
        </ion-button>
        <ion-button >
          <ion-icon src="assets/icons/ellipsis-vertical.svg" class="list-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start" class="avatar-list">
        <img alt="user avatar" src="assets/imgs/Elipse 47-5@3x.png" />
      </ion-avatar>
      <ion-label>
        <h2>Más vale tarde…</h2>
        <p>User_9328493420 | 378 Escuchas | 1:23</p>
      </ion-label>
     <ion-buttons slot="end">
        <ion-button >
          <ion-icon src="assets/icons/play--filled--alt.svg" class="list-icon"></ion-icon>
        </ion-button>
        <ion-button >
          <ion-icon src="assets/icons/ellipsis-vertical.svg" class="list-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start" class="avatar-list">
        <img alt="user avatar" src="assets/imgs/Elipse 47-6@3x.png" />
      </ion-avatar>
      <ion-label>
        <h2>No me lo puedo creer</h2>
        <p>No me lo puedo creer</p>
      </ion-label>
     <ion-buttons slot="end">
        <ion-button >
          <ion-icon src="assets/icons/play--filled--alt.svg" class="list-icon"></ion-icon>
        </ion-button>
        <ion-button >
          <ion-icon src="assets/icons/ellipsis-vertical.svg" class="list-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start" class="avatar-list">
        <img alt="user avatar" src="assets/imgs/Elipse 47-7@3x.png" />
      </ion-avatar>
      <ion-label>
        <h2>¿Quién da más? Reflexión…</h2>
        <p>NGHT | 8 Escuchas | 3:00</p>
      </ion-label>
     <ion-buttons slot="end">
        <ion-button >
          <ion-icon src="assets/icons/play--filled--alt.svg" class="list-icon"></ion-icon>
        </ion-button>
        <ion-button >
          <ion-icon src="assets/icons/ellipsis-vertical.svg" class="list-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start" class="avatar-list">
        <img alt="user avatar" src="assets/imgs/Elipse 47-8@3x.png" />
      </ion-avatar>
      <ion-label>
        <h2>El arte de la res...</h2>
        <p>User_932849 | 1520 Escuchas | 2:05</p>
      </ion-label>
     <ion-buttons slot="end">
        <ion-button >
          <ion-icon src="assets/icons/play--filled--alt.svg" class="list-icon"></ion-icon>
        </ion-button>
        <ion-button >
          <ion-icon src="assets/icons/ellipsis-vertical.svg" class="list-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    
   
  </ion-list>
  
  <div class="mic-button-container" [class.open-mic]="isMenuOpen">
  
  
    <div class="button-menu" id="buttonMenu">
      <ion-button class="menu-btn" >
        <ion-icon src="assets/icons/trash-can.svg" class="menu-icon"></ion-icon> 
      </ion-button>
      <ion-button class="menu-btn">
        <ion-icon src="assets/icons/edit.svg" class="menu-icon"></ion-icon> 
      </ion-button>
      <ion-button class="menu-btn"  >
        <ion-icon src="assets/icons/play--filled--alt.svg" class="menu-icon"></ion-icon> 
      </ion-button>
      <ion-button class="menu-btn"  >
        <ion-icon src="assets/icons/cloud--upload.svg" class="menu-icon"></ion-icon> 
      </ion-button>
     
    </div>
    
    <ion-button class="mic-button" id="micButton" (click)="toggleMenu()">
      <div class="mic-content">
        <ion-icon src="assets/icons/microphone.svg" class="mic-icon"></ion-icon>
        <span *ngIf="isMenuOpen" class="record-text">Grabando</span>
      </div>
      
     
    </ion-button>
  </div>
  




</ion-content>