

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  

  <div class="header-container">
    <h1 class="title">WoWeLike</h1>
    <div class="subtitle">
      <p>Añadir contacto</p>
      
    </div>
    
  </div>

  <!-- Círculo de fondo SVG -->
  <div class="svg-background"></div>

  <div class="add-title">
    <h2> Agregar a Antirr84 a tus contactos</h2>
  </div>
  <ion-list lines="none">
 
  <ion-item>
    <ion-avatar slot="start" >
      <img alt="user avatar" src="assets/imgs/Elipse 47-4@3x.png" class="item-avatar" />
    </ion-avatar>
    <ion-label>
      <h2>Antirr84</h2>
      <p>45 audios | 256 seguidores</p>
    </ion-label>
    <div class="button-container"> 
    
    </div>
  </ion-item>

</ion-list>

<ion-button [routerLink]="['/contacts']"> Agregar contacto</ion-button>
    
</ion-content>
