<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="header-container">
    <h1 class="title">WoWeLike</h1>
    <div class="subtitle">
      <p>Elige los temas que prefieres</p>
      <p>escuchar y crea</p>
      <p>tu primera Time-Lists</p>
    </div>
  </div>

  <!-- Círculo de fondo SVG -->
  <div class="svg-background"></div>

  <div class="form-container">
    <ion-item lines="none" class="input-item">
      <ion-input placeholder="Da nombre a tu primera Time-List" [(ngModel)]="timeListName"></ion-input>
      <ion-icon name="checkmark-circle" slot="end" class="check-icon"></ion-icon>
    </ion-item>
    <hr class="horizontal-line">
    <div class="continue">
    <ion-button class="continue-button" expand="block" (click)="saveTimeListName()">Crear</ion-button>
  </div>
  </div>
 
</ion-content>
