<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Contraseña perdida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="instructions">
    <p>Selecciona cuál será el método</p>
    <p>Para recuperar tu contraseña perdida</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-radio-group formControlName="method">
      <!-- Opción Email -->
      <ion-item>
        <ion-label>
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          Via Email
        </ion-label>
        <ion-radio slot="end" value="email"></ion-radio>
      </ion-item>
      <ion-note slot="start" class="masked-text">tu*****&#64;tudominio.com</ion-note>

      <!-- Opción SMS -->
      <ion-item>
        <ion-label>
          <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
          Via SMS
        </ion-label>
        <ion-radio slot="end" value="sms"></ion-radio>
      </ion-item>
      <ion-note slot="start" class="masked-text">+346********</ion-note>

      <!-- Opción Llamada -->
      <ion-item>
        <ion-label>
          <ion-icon slot="start" name="call-outline"></ion-icon>
          Via Llamada telefónica
        </ion-label>
        <ion-radio slot="end" value="call"></ion-radio>
      </ion-item>
      <ion-note slot="start" class="masked-text">+346********</ion-note>
    </ion-radio-group>

    <ion-button expand="block" type="submit" class="continue-button"  [routerLink]="['/recovert-code']">Continuar</ion-button >
  </form>
</ion-content>
