ion-content {
    //background-size: cover;
    //--background: url(../../../assets/imgs/base-background.jpg);
  
    .title {
        color: white;
    }

    ion-button {
        text-transform: none;
    }

    .instructions {
        margin-top: 80px; /* Ajusta el margen superior si es necesario */
        font-size: 14px; /* Ajusta el tamaño de la fuente */
    }
      
    
    ion-item {
        --background: #43434B; /* Fondo oscuro para las opciones */
        border-color: #C9C9C9;
        --border-radius: 10px;
        --inner-padding-start: 60px;
        
    }

    ion-label {
        font-size: 16px;
        color: #ffffff; 
    }

    ion-note {
        color: #ffffff;
        font-size: 12px;
        margin-left: 10px;
    }

    ion-radio {
        --color-checked: #e74c3c; /* Color del radio cuando está seleccionado */
        --color: #ffffff; /* Color del radio sin seleccionar */
    }

    .continue-button {
        --background: #e74c3c; /* Fondo rojo para el botón continuar */
        --border-radius: 20px; /* Bordes redondeados */
        margin-top: 20px;
    }

    .masked-text {
        font-size: 14px;
        color: #aaaaaa; /* Color gris para el texto enmascarado */
    }
}
