

<ion-header class="ion-no-border" *ngIf="!showError">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'LOGIN.HEADER' | translate }}</ion-title>
    <ion-buttons slot="end" routerLink="/idiomas">
      <ion-icon *ngIf="this.translate.currentLang == 'es'" src="assets/icons/spain.svg"></ion-icon>
      <ion-icon *ngIf="this.translate.currentLang == 'en'" src="assets/icons/ingles.svg"></ion-icon>
      <ion-icon *ngIf="this.translate.currentLang == 'fr'" src="assets/icons/frances.svg"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-error-view 
  *ngIf="showError" 
  [errorCode]="errorCode" 
  [errorMessage]="errorMessage"
  (retryFunction)="submitForm()"
  (backPage)="backPage()"
  >
</app-error-view>



<ion-content *ngIf="!showError"  class="ion-padding ion-text-center">
  <div class="logo ion-text-center">
    <div class="logo-text">
      <p>WoWeLike</p>
    </div>
   
  </div>
  
  <div class="inline-text">
    <p><span class="highlight">Habla</span> todo lo que quieras</p>
    <p><span class="highlight">Escucha</span> lo que te gusta</p>
    <p><span class="highlight">Comparte</span> con quien desees</p>
  </div>
  
 
  <div id="socialLinks">
    <ion-button id="facebook" expand="block" type="button" (click)="loginFacebook()"><ion-icon src="assets/icons/facebook-f-brands-solid.svg"></ion-icon></ion-button>
    <ion-button id="google" expand="block" type="button" (click)="loginGoogle()"><ion-icon src="assets/icons/google-brands-solid.svg"></ion-icon></ion-button>
    <ion-button *ngIf="platform.is('ios')" id="apple" (click)="loginApple()"><ion-icon style="margin-bottom: 4px;" name="logo-apple"></ion-icon></ion-button> 
  </div>
   
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <p class="or-email">- o mediante email -</p>
      <ion-item>
        <ion-input clearInput type="text" placeholder="{{'LOGIN.USER' | translate }}" formControlName="email">
          <ion-icon slot="start" name="person-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input clearInput type="password" placeholder="{{'LOGIN.PASSWORD' | translate }}" formControlName="password">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input-password-toggle slot="end" color="dark"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="!form.valid" class="access-button">
        Acceder
      </ion-button>
      
      <div class="additional-options">
        <p class="forgot-password">¿Has olvidado tu contraseña?</p>
        <p class="register">¿No tienes cuenta? <a id="open-modal" class="register-link">Regístrate aquí</a></p>
     </div>
      
      
    </form>
    
    
    <ion-content class="ion-padding">
      
      <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template>
          <div class="header">
            
          </div>
          
          <div class="modal-content">
            
            <form>
              <div class="form-header">
                <ion-icon name="arrow-back-outline"></ion-icon>
                <h2>Crea una cuenta</h2>
              </div>
              
              <div class="upload-image">
                <label for="uploadImage">
                  <div class="icon-container">
                    <ion-icon src="assets/icons/image-reference.svg"></ion-icon>
                  </div>
                  <span>Subir<br>imagen</span> 
                </label>
                <input type="file" id="uploadImage" />
              </div>
              
              <div class="form-container">
                <div class="input-field">
                  <div class="label-container">
                    <label class="input-label">Nickname</label>
                  </div>
                   <ion-icon src="assets/icons/user.svg"></ion-icon>
                  <div class="divider"></div> 
                  <input type="text" value="Carlosgonzalez3" />
                </div>
              
                <div class="input-field">
                  <div class="label-container">
                    <label class="input-label">Email</label>
                  </div>
                  <ion-icon name="mail-outline"></ion-icon>
                  <div class="divider"></div> 
                  <input type="email" value="prueba@prueba.com" />
                </div>
              
                <div class="input-field">
                  <div class="label-container">
                    <label class="input-label">Contraseña</label>
                  </div>
                  <ion-icon src="assets/icons/password.svg"></ion-icon>
                  <div class="divider"></div> 
                  <input type="password"  value="******" />
                  <div class="password-info">Utiliza al menos 5 caracteres</div>
                </div>
              
                <div class="privacy-policy">
                  <ion-checkbox></ion-checkbox>
                  <label>
                    He leído y acepto la 
                    <span class="bold-text">política de privacidad</span>
                  </label>
                </div>
                <ion-button class="continue-button" expand="block">Continuar</ion-button>
              </div>
              
            </form>
          </div>
        </ng-template>
      </ion-modal>
      
</ion-content>
