
ion-content {
    //background-size: cover;
    //--background:url('/assets/imgs/base-background.jpg');
    
  
    .title {
      margin-top: 16px;
      margin-bottom: 32px;
    }
  
    ion-button {
      text-transform: none;
    } 
  
     .access-button {
        --background: #E33941; 
        --color:white; 
        --border-radius: 25px; 
        --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
        padding: 10px 20px; 
        font-size: 16px; 
      }
    
      .additional-options {
        text-align: center;
        margin-top: 20px;
      }
      
      .forgot-password {
        color:#F8F8F8; 
        margin-bottom: 10px;
      }
      
      .register {
        color:#F8F8F8;
      }
      
      .register-link {
        color: #FF2251;
        text-decoration: none; 
      }
      
    .logo {
      margin: 0 auto;
      z-index: 2;
      margin-top: 10vh;
      img {
        width: 130px;
        height: 130px;
      }
    }

    .inline-text {
      text-align: left; /* Alinea el texto a la izquierda */
      margin: 0 89px 0 10pt; /* Margen derecho de 89px y margen izquierdo de 30pt */
      padding: 0; /* Elimina padding por defecto */
   
    }
    
    .inline-text p {
      display: inline-block;
      margin-right: 2px; /* Espacio entre frases, ajustado a un valor positivo pequeño */
      letter-spacing: normal; /* Ajusta el espaciado entre letras a su valor normal */
      font-family: "Helvetica Neue", sans-serif;
      font-weight: bold; 
      font-size: 12pt; /* Tamaño del resto de las frases */
      color: #FFFFFF;  /* Color del resto de las frases */
      line-height: 0;
      transform: translateY(-60px); 
    }
    
    .highlight {
      font-family: "Helvetica Neue", sans-serif;
      font-weight: bold; /* Texto en negrita */
      font-size: 18pt;   /* Tamaño de las palabras destacadas */
      color: #E62F2C;    /* Color de las palabras destacadas */
    }

    .logo-text {
    font-family: 'Bellota', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 50pt;
    text-align: left;
    margin-left: 16px; /* Ajusta el margen izquierdo según sea necesario */
    margin-top: 10vh; /* Ajusta la distancia desde la parte superior */
}

    
    
    #socialLinks {
      display: flex;
      justify-content: space-evenly;
      margin: 2vh 8vw 2vh 8vw;
      //width: 85vw;
      line-height: 0;
      transform: translateY(-30px); 
  
      ion-icon {
        font-size: 32px;
        color:white;
      }
  
      #facebook {
        --color: white;
        --background: #E33941;
        --background-activated: #E33941;
        --background-focused: #E33941;
        --border-radius: 50%;
        height: 64px;
        width: 64px;
        margin: 0;
      }
  
      #google {
        --background: #E33941;
        --background-activated: white;
        --background-focused: #E33941;
        --border-radius: 50%;
        border-radius: 50%;
        box-shadow: 0px 0px 10px 3px #0000000a;
        height: 64px;
        width: 64px;
        margin: 0;
      }
  
      .fa-google {
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
      }
  
      #apple {
        --background: #E33941;
        --background-activated: #E33941;
        --background-focused: #E33941;
        --color: white;
        --border-radius: 50%;
        height: 64px;
        width: 64px;
        margin: 0;
      }
  
      #top-texts {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
      }
    }
    
  }
  ion-item {
    --background: #43434B; /* Cambia el color de fondo de los inputs */
    --border-radius: 20px; /* Añade bordes redondeados */
    margin-bottom: 10px;
  }
  
  ion-input {
    --padding-start: 20px; /* Añade padding al inicio del input */
    color: white; /* Cambia el color del texto */
  }
  
  ion-input ion-icon {
    color: white; /* Cambia el color del ícono */
  }
  ion-button {
    --background: #3E3E3E;
    color: white;
    width: 100%;
  }
  
  ion-checkbox {
    --background: white;
    --border-radius: 50%;
    margin-right: 10px;
  }

  

  h2 {
  display: inline-block; /* Mantiene los elementos en línea */
  vertical-align: middle; /* Alinea verticalmente al centro */
  margin: 5; /* Remueve márgenes por defecto */
}

/* Estilo específico para el icono */
ion-icon {
  font-size: 24px; /* Ajusta el tamaño del icono */
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}


  .or-email {
    color: #ffffff;
    font-size: 14px;
    margin: 20px 0;
  }
  
  .additional-options {
    margin-top: 20px;
  }
  
  .forgot-password,
  .register {
    color: #F8F8F8;
    margin-top: 10px;
  }
  
  .register a {
    color: #FF2251; 
    text-decoration: underline; /* Subrayar el enlace */
  }
  
  .modal-content {
    width: fill; /* Ajusta esto según lo necesites, puede ser 70vw o más */
    height: fill; /* Ajusta esto también según la altura que prefieras */
    max-width: 450px; /* Este valor es opcional para limitar el tamaño en pantallas más grandes */
    margin: auto;
    padding: 20px;
    border-radius: 15px; 
    background-color: #E33941; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
 
  
  input[type="file"] {
    display: none; 
  }
  
  .input-field {
    display: flex; /* Usa flexbox para alinear el ícono y el campo de entrada en línea */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    background-color: #43434B; 
    padding: 20px; 
    margin-bottom: 25px; 
    border-radius: 40px; 
    width: 100%; 
    position: relative; 
    height: 60px ;
  }
  
  .label-container {
    position: absolute; /* Posiciona el texto de manera absoluta dentro del contenedor */
    top: 7%; /* Ajusta esta posición según sea necesario para colocar el texto correctamente */
    left: 70px; /* Ajusta la distancia desde el borde izquierdo */
  }
  
  .input-label {
    color: #8b8b8b; 
    font-family: "Helvetica Neue", sans-serif; 
    font-weight: lighter; 
    font-size: 14px;
    background-color: #43434B; 
    padding: 0 5px; /* Espacio alrededor del texto para que se vea bien sobre el fondo */
  }
  
  .input-field ion-icon {
    color: rgb(255, 255, 255); 
    font-size: 35px; 
    margin-right: 10px; /* Espacio entre el icono y el input */

  }
  
  .input-field input {
    border: none; 
    background: transparent; 
    color: rgb(253, 253, 255); 
    width: 100%; 
    padding-left: 10px; 
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 12px;
    margin-right: 38px;
  }
  
  .divider {
    width: 1px; 
    height: 30px; 
    background-color: #8b8b8b; 
    margin-right: 10px; 
  }
  .password-info {
    position: absolute; 
    right: 150px; 
    top: 64px; 
    font-size: 10px; 
    color: #ffffff; 
    white-space: nowrap; 
    font-style: "Helvetica Neue", sans-serif; 
    font-weight: lighter;
    
  }
  .privacy-policy {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    color: white;
  }
  .privacy-policy ion-checkbox {
    --background: transparent; 
    --border-radius: 8px; 
    --border-color: #ffffff; 
    --border-width: 2px; 
    --size: 20px; /* Tamaño del checkbox */
    margin-left:18px; /* Espacio entre el checkbox y el texto */
    margin-top: 15px;
  }
  .privacy-policy ion-checkbox[checked] {
    --background: #ffffff; 
    --border-color: #ffffff; 
    
  }
  .privacy-policy ion-checkbox[checked] .checkbox-inner {
    background-color: #ffffff; /* Color de fondo del interior del checkbox cuando está seleccionado */
    border-radius: 8px; /* Bordes suavizados */
  }
  .privacy-policy ion-checkbox[checked] .checkbox-inner::after {
    color: #FF2251; /* Color del ícono de check cuando está seleccionado */
    font-size: 16px; /* Tamaño del ícono de check */
}
  
  .privacy-policy label {
    margin-left: 10px;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    font-size: 14px;
  }
  .bold-text {
    font-weight: bold; /* Hace el texto en negrita */
  }

  
  .upload-image {
    display: flex;
    align-items: center;
    justify-content: left; 

  }
  
  .upload-image label {
    display: flex;
    align-items: center; 
    cursor: pointer; 
    font-size: 18px;
    color: #ffffff;
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: bold; 
    
  }

  .upload-image span {
    display: block; /* Hace que el texto se ajuste en líneas separadas */
    text-align: left; /* Alinea el texto a la izquierda */
    margin-left: 12px;
    margin-top: 20px;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px; /* Tamaño del círculo */
    height: 125px; /* Debe ser igual al width para ser un círculo perfecto */
    border-radius: 50%; /* Hace el contenedor circular */
    background-color: #faa1a1; 
    margin-right: 7px; /* Espacio entre el ícono y el texto */
    margin-top: 35px; 
  }
  
  .icon-container ion-icon {
    font-size: 60px; 
    color: #ffffff; 
    margin-left: 9px;
  }
  .form-container {
    padding-top: 50px; /* Desplazar el contenido hacia abajo */
  }
  
  .continue-button {
    --background: #3E3E3E; /* Color de fondo del botón */
    color: white; /* Color del texto */
    width: 100%; /* Ancho completo */
    height: 60px; /* Ajusta la altura para que coincida con la altura de las celdas */
    margin-top: 20px; /* Espacio superior */
    --border-radius: 40px; /* Bordes redondeados para que coincida con las celdas */
    font-size: 16px; /* Tamaño de fuente para que coincida con el texto de las celdas */
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 0; /* Quitar padding para que el tamaño sea consistente */
}

  input[type="text"], input[type="email"], input[type="password"] {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
  }

  ion-modal {
    --height: 90%; /* Ajusta la altura al 90% */
    
  }
  .form-header {
    display: flex;
    align-items: center; /* Alinea verticalmente el icono y el texto */
  }
  
  .form-header ion-icon {
    font-size: 24px; 
    color: #ffffff; 
    margin-right: 10px; 
    
    margin-top: 0px;
  }
  
  .form-header h2 {
    margin: 0; 
    font-size: 24px; 
    color: #ffffff; 
  }
