.form-header {
    display: flex;
    align-items: center; /* Alinea verticalmente el icono y el texto */
  }
  
  .form-header ion-icon {
    font-size: 30px; 
    color: #ffffff; 
    margin-right: 15px; 
    margin-top: 0px;
  }
  
  .form-header h2 { 
    font-size: 18px; 
    color: #ffffff; 
    margin: 0;
  }
  
  .pin-instructions {
    margin-top: 70px; /* Añade separación entre el header y las instrucciones */
  }
  
  .pin-instructions p {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0; /* Elimina los márgenes adicionales para mantener las frases juntas */
    font-style: "Helvetica Neue", sans-serif;
    font-weight: normal;
  }
  
  .pin-inputs {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .pin-item {
    width: 70px;  /* Ajusta el ancho según lo que necesites */
    --background: #43434B; 
    border-radius: 10px;
    border: 1px solid #FCFCFCA5;
    margin: 0 5px;
}
  
  .pin-digit {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
  }
  
  .continue-button {
    background-color: #E33941;
    width: 90%; 
    height: auto; 
    margin-top: 80px; 
    margin-left: 15px;
    border-radius: 20px; 
    font-size: 16px; 
    padding: 0 12px; 
    font-family: 'Helvetica', 'Arial', sans-serif; 
    font-weight: bold; 
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  
  