<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-icon src="assets/icons/arrow-back-outline.svg" class="arrow-icon" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon src="assets/icons/close-outline.svg" class="alert-icon"  [routerLink]="['/my-profile']" ></ion-icon>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="ion-padding">
  
  <div class="edit-photo">
    <div class="profile-photo-container">
      <ion-avatar class="profile-photo">
        <img alt="user avatar" src="assets/imgs/Elipse 47-2@3x.png" class="avatar" />
      </ion-avatar>
      <ion-icon src="assets/icons/add-image.svg" class="icon-overlay" ></ion-icon> <!-- Ícono superpuesto -->
    </div>
    <div class="edit-info">
      <p>Editar</p>
      <p>foto</p>
    </div>
  </div>



  <ion-list lines="none">
    <ion-item>
      <ion-label>
        <h2>Nombre</h2>
        <p>Jane Doe</p>
      </ion-label>
      <span class="edit-text" slot="end">Editar</span>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Nombre de usuario</h2>
        <p>Jane_Doe</p>
      </ion-label>
      <span class="edit-text" slot="end">Editar</span>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Información de contacto</h2>
        <p>micorreo.com</p>
      </ion-label>
      <span class="edit-text" slot="end">Editar</span>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Fecha de nacimiento</h2>
        <p>14/01/1975</p>
      </ion-label>
      <span class="edit-text" slot="end">Editar</span>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Localización</h2>
        <p>España, Canarias, Tenerife</p>
      </ion-label>
      <span class="edit-text" slot="end">Editar</span>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Web</h2>
        <p>www.janedoe.com</p>
      </ion-label>
      <span class="edit-text" slot="end">Editar</span>
    </ion-item>

    <!-- Iconos de acciones abajo -->

    <ion-item>
      <ion-label>
        <h2>Audio Presentación</h2>
      </ion-label>
      <span class="icon-wrapper" slot="end">
        <ion-icon src="assets/icons/trash-can.svg"></ion-icon>
      </span>
      <span class="icon-wrapper" slot="end">
        <ion-icon src="assets/icons/play--filled--alt.svg"></ion-icon>
      </span>
      <span class="icon-wrapper" slot="end">
        <ion-icon src="assets/icons/microphone--filled.svg"></ion-icon>
      </span>
    </ion-item>

  </ion-list>

  <div class="save button">
    <ion-button class="save-button" expand="block" routerLink="/settings">Guardar</ion-button>
    
    

  </div>



</ion-content>
