<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-icon src="assets/icons/arrow-back-outline.svg" class="arrow-icon" [routerLink]="['/time-list']"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
     
      <ion-icon src="assets/icons/operations-record.svg" class="settings-icon" ></ion-icon>

    </ion-buttons>
    <ion-title>Búsqueda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="search-bar">
    <ion-input  placeholder="Buscar listas, audios y más…" class="search-text">
      <ion-icon slot="end" src="assets/icons/search-outline.svg" class="search-icon"></ion-icon>
      
    </ion-input>
    
  </ion-item>

  <ion-button class="play-button2" >
    <ion-icon src="assets/icons/play--filled--alt.svg" class="play-icon2"></ion-icon> 
  </ion-button>
  
  
</ion-content>
